{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="emftech">


    {% block title %}{% endblock title %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'images/hero-image.jpg' %}" rel="icon" />
</head>
<body>
    <section class="flex flex-col">
        <div class="md:flex-row flex-col flex justify-between items-center px-6 sm:px-8">

            <ul class="py-4 text-[18px] flex items-center justify-center">
                {% for category in categories %}

                    <a class="text-sm md:text-[12px] mx-2 hover:text-green-700" href="{% url 'post_by_category' category.id %}">{{category}}</a>

                {% endfor %}
            </ul>
            <form action="{% url 'search' %}" method="GET">
                <div class="input-group">
                    <label for="search">
                    <input class="form-control focus:outline-none border-[1px] h-[40px] px-4" name="keyword" type="search" placeholder="Search..." />
                    <button class="bg-green-700 text-white border-[1px] border-white px-4 h-[40px] ml-[-5px]" id="button-search" type="submit">Search post</button>
                </div>

            </form>
        </div>
        <nav class="bg-green-700 h-[60px] flex w-full justify-between py-2 sm:px-8 px-6 items-center">
            <a href="{% url 'home' %}" class="text-white font-bold text-center text-[28px]">Gisblog</a>


                    <ul class="flex items-center">
                        <li class="mx-2"><a class="text-white text-[20px] no-underline" href="{% url 'home' %}">Home</a></li>
                        <li class="mx-2"><a class="text-white text-[20px] no-underline" href="{% url 'about' %}">About</a></li>
                        <li class="mx-2"><a class="text-white text-[20px] no-underline" href="{% url 'contact_us' %}">Contact</a></li>
                    </ul>



                    <div class="flex items-center">
                        {% if user.is_authenticated and user.is_staff %}

                                <button class="">
                                    <a class="bg-white py-2 px-5 rounded-md border-[1px] border-white text-green-700 hover:text-white hover:bg-green-700" href="{% url 'dashboard' %}">
                                        Dashboard
                                    </a>
                                </button>
                                <button class="">
                                    <a class="text-white hover:bg-white hover:text-green-700 rounded-md ml-4 py-2 px-6 border-[1px] border-white" aria-current="page" href="{% url 'Logout' %}">
                                        Logout
                                    </a>
                                </button>
                            {% elif user.is_authenticated %}
                                <small class="text-white text-[14px]">You are logged in as {{user.first_name}}</small>
                                <button class="">
                                    <a class="text-white hover:bg-white hover:text-green-700 rounded-md ml-4 py-2 px-6 border-[1px] border-white" aria-current="page" href="{% url 'Logout' %}">
                                        Logout
                                    </a>
                                </button>
                            {% else %}
                                <button class="">
                                    <a class="text-white hover:bg-white hover:text-green-700 rounded-md mx-4 py-2 px-6 border-[1px] border-white" aria-current="page" href="{% url 'login' %}">
                                        Login
                                    </a>
                                </button>
                                <button class="">
                                    <a class="bg-white py-2 px-5 rounded-md border-[1px] border-white text-green-700 hover:text-white hover:bg-green-700" href="{% url 'register' %}">
                                        Register
                                    </a>
                                </button>
                            {% endif %}
                    </div>


        </nav>
    </section>
    <main class="flex flex-col pb-16">
        {%  block content %}

        {%  endblock content %}
    </main>

    <footer class="bg-[#1d3344] h-[120px] flex flex-col md:flex-row  items-center justify-between py-4 px-6 sm-8">


        <form id="subscription-form" data-url="{% url 'subscribe' %}">
            {% csrf_token %}

            <div id="subscription-message" class="text-center"></div>
            <div class="flex items-start">

                <input type="email" id="email" name="email" class="w-full max-w-[250px] focus:outline-none border-[1px] h-[40px] px-4"
                    placeholder="Join our Newsletter"
                    required
                >
                <button type="submit" class="bg-green-700 text-white border-[1px] border-white px-4 h-[40px] ml-[-5px]">
                    Subscribe
                </button>
            </div>
        </form>


        <p class="m-0 text-center text-white">&copy; GistBlog <span id="date"></span></p>
    </footer>

        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>