{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="emftech">


    {% block title %}{% endblock title %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'images/logo.png' %}" rel="icon" />
</head>
<body>
    <header class="w-full h-[60px] py-2 bg-white fixed top-0 left-0 sm:px-8 px-4 flex justify-between md:block z-50">

       <section class="flex items-center justify-between">
            <div class="hamburger block md:hidden mr-3" id="hamburger">
                <svg width="36" height="36" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 16H28" stroke="#020202" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"/>
                    <path d="M4 8H21.3333" stroke="#020202" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"/>
                    <path d="M4 24H16" stroke="#020202" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"/>
                </svg>
                </div>
            <a href="{% url 'home' %}" class="block md:hidden"><img class="w-10 h-10" src="{% static 'images/logo.png' %}" alt="website logo"></a>
       </section>

        <nav class="md:flex justify-between  items-center hidden">
            <a href="{% url 'home' %}" class="cursor-pointer"><img class="w-12 h-12" src="{% static 'images/logo.png' %}" alt="website logo"></a>
            
            <ul class="flex items-center">
                <li class="mx-2"><a class="text-green-700 text-[20px] no-underline" href="{% url 'home' %}">Home</a></li>
                <li class="mx-4"><a class="text-green-700 text-[20px] no-underline" href="{% url 'about' %}">About</a></li>
                <li class="mx-2"><a class="text-green-700 text-[20px] no-underline" href="{% url 'contact_us' %}">Contact</a></li>
            </ul>


  
            <div class="flex items-center">
                            
                {% if user.is_authenticated and user.is_staff %}

                                    
                    <button class="">
                        <a class="bg-white py-2 px-5 rounded-md border-[1px] border-green-700 text-green-700 hover:text-white hover:bg-green-700" href="{% url 'dashboard' %}">
                            Dashboard
                        </a>
                    </button>
                                    
                    <button class="">
                        <a class="bg-green-700 text-white hover:bg-white hover:text-green-700 rounded-md ml-4 py-2 px-6 border-[1px] border-green-700" aria-current="page" href="{% url 'Logout' %}">
                            Logout
                        </a>
                    </button>
                {% elif user.is_authenticated %}
                    <small class="text-white text-[14px]">You are logged in as {{user.first_name}}</small>
                    <button class="">
                        <a class="text-white hover:bg-white hover:text-green-700 rounded-md ml-4 py-2 px-6 border-[1px] border-white" aria-current="page" href="{% url 'Logout' %}">
                            Logout
                        </a>
                    </button>
                {% else %}
                    <button class="">
                        <a class="text-white bg-green-700 hover:bg-white hover:text-green-700 rounded-md mx-4 py-2 px-6 border-[1px] border-green-700" aria-current="page" href="{% url 'login' %}">
                            Login
                        </a>
                    </button>
                    <button class="">
                        <a class="bg-white py-2 px-5 rounded-md border-[1px] border-green-700 text-green-700 hover:text-white hover:bg-green-700" href="{% url 'register' %}">
                            Register
                        </a>
                    </button>
                {% endif %}

            </div>

        </nav>
        <div class="md:hidden flex items-center">
                            
                {% if user.is_authenticated and user.is_staff %}

                                    
                    <button class="">
                        <a class="bg-white py-2 px-2 rounded-md border-[1px] border-green-700 text-green-700 text-sm hover:text-white hover:bg-green-700" href="{% url 'dashboard' %}">
                            Dashboard
                        </a>
                    </button>
                                    
                    <button class="">
                        <a class="bg-green-700 text-white hover:bg-white hover:text-green-700 rounded-md ml-3 py-2 px-2 text-sm border-[1px] border-green-700" aria-current="page" href="{% url 'Logout' %}">
                            Logout
                        </a>
                    </button>
                {% elif user.is_authenticated %}
                    <small class="text-white text-[14px]">You are logged in as {{user.first_name}}</small>
                    <button class="">
                        <a class="text-white hover:bg-white hover:text-green-700 rounded-md ml-3 py-2 px-2 text-sm border-[1px] border-white" aria-current="page" href="{% url 'Logout' %}">
                            Logout
                        </a>
                    </button>
                {% else %}
                    <button class="">
                        <a class="text-white bg-green-700 hover:bg-white hover:text-green-700 rounded-md mx-2 py-2 px-3 text-sm border-[1px] border-green-700" aria-current="page" href="{% url 'login' %}">
                            Login
                        </a>
                    </button>
                    <button class="">
                        <a class="bg-white py-2 px-2 rounded-md border-[1px] border-green-700 text-green-700 text-sm hover:text-white hover:bg-green-700" href="{% url 'register' %}">
                            Register
                        </a>
                    </button>
                {% endif %}

        </div>
       
    </header>

    <aside class="mobile-view md:hidden fixed w-[75%] flex flex-col h-full bg-white top-[59px] pt-10 items-start z-40 transition-transform duration-500 ease-in-out -translate-x-full" id="mobile-view">
        <ul class="flex items-center flex-col text-justify ml-2">
            <li class="mx-2"><a class="text-green-700 text-[20px] no-underline" href="{% url 'home' %}">Home</a></li>
            <li class="mx-2 my-8"><a class="text-green-700 text-[20px] no-underline" href="{% url 'about' %}">About</a></li>
            <li class="mx-2"><a class="text-green-700 text-[20px] no-underline" href="{% url 'contact_us' %}">Contact</a></li>
        </ul>

    </aside>
    <div class="fixed inset-0 bg-black bg-opacity-50 z-30 hidden" id="overlay"></div>

    <main class="flex flex-col pb-16">
        {%  block content %}

        {%  endblock content %}
    </main>

    <footer class="bg-[#1d3344] flex flex-col items-center justify-center py-6 px-6 sm:px-8">

        <form id="subscription-form" data-url="{% url 'subscribe' %}">
            {% csrf_token %}

            <div id="subscription-message" class="text-center mb-2 min-h-[24px]"></div>

            <div class="flex items-center">
                <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    class="w-full max-w-[250px] focus:outline-none border-[1px] h-[40px] px-4 bg-white"
                    placeholder="Join Our Newsletter"
                    required
                >
                <button 
                    type="submit" 
                    class="bg-green-700 text-white px-4 h-[40px] whitespace-nowrap hover:bg-green-800 transition-colors duration-200">
                    Subscribe
                </button>
            </div>
        </form>

        <p class="text-gray-400 text-sm mt-4">&copy; <span id="date"></span> &nbsp;GistBlog. All rights reserved</p>

    </footer>


        {% comment %} <p class="mt-4 gap-4 text-center text-white">&copy; <span id="date"></span> &nbsp;GistBlog. All rights reserved</p>
    </footer> {% endcomment %}

        
    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>