{% extends 'base.html' %}

{% block content %}

    <div class="sm:px-8 px-6 py-[30px] sm:py-[60px] my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}" class="text-green-600">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}