{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Reset Password Gisblog</title>{% endblock title %}

{% block content %}

    <section class="mt-[24px] mb-[40px] md:px-6 px-4">
        <article class="h-[120px] md:h-[180px]"></article>

        {% if messages %}

            {% for message in messages %}
                <div class="text-[16px] relative flex items-center justify-center rounded-md w-full h-10 text-center p-2 {% if message.tags == 'success' %} bg-green-700 text-white
                   {% elif message.tags == 'danger' %} bg-red-400 text-white {% elif message.tags == 'warning' %} bg-yellow-400 text-black
                    {% elif message.tags == 'info' %} bg-blue-400 text-black {% else %} bg-gray-400 text-black {% endif %}"
                    id="message-{{ forloop.counter }}">
                    {{ message }}

                    <button
                        class="absolute right-3 top-1/2 transform -translate-y-1/2 text-[24px] font-700 text-gray-200 hover:text-gray-900"
                            onclick="closeMessage('message-{{ forloop.counter }}')">
                        &times;
                    </button>
                </div>

            {% endfor %}

        {% endif %}

        <div class="rounded flex flex-col  mt-[48px] gap-4 border-green-700 border-[1px] max-w-[500px] m-auto">
            <p class="text-center mt-4">Reset your password</p><hr>
            <form method = "POST" class="py-4 px-6" novalidate>

                {% for error in form.non_field_errors %}
                    <p class="text-red-600">{{ error }}</p>
                {% endfor %}

                {% csrf_token %}

                <div class="mb-4">
                    <label for="id_password" class="">Email</label>
                    <input type="email" class="w-full h-[40px] rounded p-2 border-[1px] border-gray-400 focus:outline-none"
                        name="email" placeholder="Enter your email">
                        {% for error in form.email.errors %}
                            <p class="text-red-600">{{ error }}</p>
                        {% endfor %}

                </div>

                <button type="submit" class="rounded bg-green-700 hover:bg-green-800 px-4 h-[40px] text-white w-full">Submit</button>
            </form>
        </div>

        
        <article class="mb-[200px]"></article>
    </section>

{% endblock content %}



